@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'Space Age';
    src: url('/fonts/space_age/space-age.ttf') format('truetype');
}
.text-shadow{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#planets-info ul > li > li {
    text-transform: lowercase;
    font-weight: bold;
    color : #FF4500;
    }

#earth-info  li > span{
    color:#fff;
    font-weight: 300;
}    

#tag{
    color: #FF4500;
}
.active{
color: white;
}

#events-list span{
    color : white;
}

/* .weather-info :not(span){
    font-weight: 800;
} */

