@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'Space Age';
    src: url('../public/fonts/space_age/space-age.ttf') format('truetype');
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* .test{
    transform: translate(-40px);
    opacity: 0;
transition: all 2s ease-in-out;
} */

